{% load thumbnail %}
<script>
    $(function() {
        //좋아요 버튼 클릭시 발생하는 함수
        $("#post_like_button2_{{  comment.pk }}").click(function () {
            var like_url = $(this).data('url');
            var target_id = $(this).data('target-id');
            console.log(like_url); // -> /1/like/ 가 출력 (첫번째 글 좋아요 버튼 클릭시..)
            $.get(like_url).done(function (data) {
                $('#' + target_id).html(data.comment_count);
                console.log(target_id); // -> post_1_like_count 가 출력.
            }).fail(function () {
                alert('failed');
            });
            return false;
        });



    });
</script>

<div id="comment-{{ comment.pk }}" class="media comment" data-comment-id="{{ comment.pk }}">
    {% if comment.photo %}
    <div class="media-left">
        <a href="#">
            <img src="{% thumbnail comment.photo 100x100 crop %}" class="media-object" />
        </a>
    </div>
    {% endif %}

    <div class="media-body">
        {# <h4 class="media-heading">Media heading</h4> #}

        <p>{{ comment.message }}</p>
        &dash;
        <a href="{% url 'blog:comment_edit' comment.post.pk comment.pk %}" class="modal-form-btn"
           data-target-id="comment-{{ comment.pk }}"><small>{{ comment.updated_at }}</small>
        </a>

        <a href="{% url 'blog:comment_delete' comment.post.pk comment.pk %}"
           class="ajax-post-confirm"
           data-target-id="comment-{{ comment.pk }}"
           data-message="정말 삭제하시겠습니까?">
            <small>삭제</small>
        </a>
        <td>
            <span class="btn btn-primary" id="post_like_button2_{{ comment.pk }}"
                  data-url="{% url 'blog:comment_like' comment.pk %}"
                  data-target-id="comment_{{ comment.id }}_like_count">좋아요
                <span id="comment_{{ comment.id }}_like_count">{{ comment.like_count }}</span></span>
        </td>
    </div>
</div>

